POSTGRES_DB=plbank
POSTGRES_USER=plbank_user
POSTGRES_PASSWORD=plbank_pass
POSTGRES_PORT=5433

DJANGO_SECRET_KEY=change-this-to-a-random-secret-key-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend,host.docker.internal

INTEGRATIONS_ELIXIR_URL=http://localhost:7001
INTEGRATIONS_EXPRESS_ELIXIR_URL=http://localhost:7002
INTEGRATIONS_SORBNET_URL=http://localhost:7003
INTEGRATIONS_CARDS_URL=http://cards_gateway_app:8000
INTEGRATIONS_BLIK_URL=http://host.docker.internal:8000
BLIK_API_KEY=klik_twoj_klucz_api_z_systemu_klik


CARDS_API_KEY=bank-key-pl-b
CARDS_API_SECRET=secret-pl-b-hmac